
###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######


# MCU USED BELOW: BTT MBB CAN (in USB MODE!!) v1.0
# If v1.1 use note DOCK_DETECT_T3 pin change!
# For v2 pins - see BTT GITHUB & edit accordingly

[mcu docks]
# serial: /dev/serial/by-id/************** #<<<<< ENTER YOUR OWN SERIAL ID HERE!!
restart_method: command
is_non_critical: True # NOTE: THIS OPTION IS FOR USE WITH KALICO SYSTEMS ONLY!!


[gcode_button DOCK_DETECT_T0]
pin: ^!docks:PA3
press_gcode: 
release_gcode: _RELEASE_GUARDIAN TOOL=0
debounce_delay: 0

[gcode_button DOCK_DETECT_T1]
pin: ^!docks:PA4
press_gcode: 
release_gcode: _RELEASE_GUARDIAN TOOL=1
debounce_delay: 0

[gcode_button DOCK_DETECT_T2]
pin: ^!docks:PB9
press_gcode: 
release_gcode: _RELEASE_GUARDIAN TOOL=2
debounce_delay: 0

[gcode_button DOCK_DETECT_T3]
pin: ^!docks:PB8 # v1.0 = PB8 / v1.1 = PA8
press_gcode: 
release_gcode: _RELEASE_GUARDIAN TOOL=3
debounce_delay: 0

# [gcode_button DOCK_DETECT_T4]
# pin: ^!docks:PC15
# press_gcode: 
# release_gcode: _RELEASE_GUARDIAN TOOL=4
# debounce_delay: 0

# [gcode_button DOCK_DETECT_T5]
# pin: ^!docks:PC13
# press_gcode:
# release_gcode: _RELEASE_GUARDIAN TOOL=5
# debounce_delay: 0

# [gcode_button DOCK_DETECT_T6]
# pin: ^!docks:PC14
# press_gcode:
# release_gcode: _RELEASE_GUARDIAN TOOL=6
# debounce_delay: 0

# [gcode_button DOCK_DETECT_T7]
# pin: ^!docks:PB12
# press_gcode:
# release_gcode: _RELEASE_GUARDIAN TOOL=7
# debounce_delay: 0

# [gcode_button DOCK_DETECT_T8]
# pin: ^!docks:PB11
# press_gcode:  
# release_gcode: _RELEASE_GUARDIAN TOOL=8
# debounce_delay: 0

# [gcode_button DOCK_DETECT_T9]
# pin: ^!docks:PB10
# press_gcode:
# release_gcode: _RELEASE_GUARDIAN TOOL=9
# debounce_delay: 0

# [gcode_button DOCK_DETECT_T10]
# pin: ^!docks:PB2
# press_gcode: 
# release_gcode: _RELEASE_GUARDIAN TOOL=10
# debounce_delay: 0
