
###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######

[gcode_macro PRINT_START]
gcode:    
    {% set first_layer_bed = params.BED|int %}
    {% set first_layer_extruder = params.EXTRUDER|float %}
    {% set tool = params.TOOL|default(0)|int %}
    {% set act = printer.save_variables.variables.active_tool|default(-1)|int %}
  	{% set dds = printer["gcode_macro DEMON_DOCKS_SETTINGS"] %}
        
    {% if dds.demon_docks %}
      _TOOL_DOCK_GUARDIAN
    {% endif %}
    
    # SET_GCODE_OFFSET Z=0
    RESPOND TYPE=COMMAND MSG="Starting print..."
    G90
    M83
    M220 S100
    M221 S100
    SET_PRESSURE_ADVANCE ADVANCE=0.035
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.config.printer.max_accel}
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.config.printer.max_velocity}
    BED_MESH_CLEAR

    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={first_layer_bed}
    
    {% if "xyz" not in printer.toolhead.homed_axes %}
        RESPOND TYPE=COMMAND MSG="Homing axes..."
        G28

    {% else %}
        {% if printer.toolhead.position.z|float < 5 %}
            G0 Z5 F3600
        {% endif %}
    {% endif %}

    {% if act != 0 %}
        CHANGE_TOOL TOOL=0
    {% endif %}
    
    RESPOND TYPE=COMMAND MSG="Heating bed {first_layer_bed}c..."
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={first_layer_bed}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={first_layer_bed|int -2} MAXIMUM={first_layer_bed|int + 5}

    RESPOND TYPE=COMMAND MSG="Preating nozzle..."
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=145 MAXIMUM=155
    
    {% if not printer.quad_gantry_level.applied %}
    	RESPOND TYPE=COMMAND MSG="Running QGL"
        QUAD_GANTRY_LEVEL retry_tolerance=1
        QUAD_GANTRY_LEVEL horizontal_move_z=3
    {% endif %}
  
    G28 Z
    # CARTOGRAPHER_TOUCH_HOME

    T{tool}
    
    RESPOND TYPE=COMMAND MSG="Scanning bed..."
    BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5

    SMART_PARK
    M400

    RESPOND TYPE=COMMAND MSG="Heating nozzle to {first_layer_extruder|float}°C..."
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={first_layer_extruder|float} 
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={first_layer_extruder|float -2} MAXIMUM={first_layer_extruder|float + 5}

    {% if dds.demon_docks %}
        _TOOL_DOCK_GUARDIAN
    {% endif %}

    LINE_PURGE
    
    G92 E0
    RESPOND TYPE=COMMAND MSG="Printing..."



[gcode_macro _TOOL_CHECK_START]
gcode:
    {% set act = printer.save_variables.variables.active_tool|default(-1)|int %}
    
    {% if act != 0 %}
        RESPOND TYPE=COMMAND MSG="Changing tool to T0 for Print Start!"
    	T0
    {% endif %}



[gcode_macro PRINT_END]
gcode:
    RESPOND TYPE=COMMAND MSG="Print complete!"
    G91
    G1 E-5 F2700
    G90

    {% if printer.toolhead.position.z|float < (printer.toolhead.axis_maximum.z|float - 50) %}
    	G91
    	G1 Z10 F600
    	G90
    {% endif %}
    
    G1 X{10} Y{printer.toolhead.axis_maximum.y - 10} F6000
    
    TURN_OFF_HEATERS
    M107
    
    M220 S100
    M221 S100
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.config.printer.max_accel}
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.config.printer.max_velocity}

    M84
    BED_MESH_CLEAR



[gcode_macro M109]
description: Remove tool number from slicer temp commands
rename_existing: M109.1
gcode:
    {% set INDX_S = params.S|default(0)|int %}
     
    M109.1 S{INDX_S}


      
[gcode_macro M104]
description: Remove tool number from slicer temp commands
rename_existing: M104.1
gcode:
    {% set INDX_S = params.S|default(0)|int %}
    {% set INDX_T = params.T|default(0)|int %}
    {% set act = printer.save_variables.variables.active_tool|default(-1)|int %}

    {% if 'T' in params %}
        {% if act == INDX_T %}
        	M104.1 S{INDX_S}
        {% endif %}
         
    {% else %}
        M104.1 S{INDX_S}
    {% endif %}

    