
###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######

[homing_override]
axes: xyz
gcode:
  	{% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  	{% set st = printer["gcode_macro _TOOLCHANGE_VARS"].toolhead_state|int %}
  	{% set act = printer.save_variables.variables.active_tool|default(-1)|int %}

  	{% if (act != -1 and st == 2) or (act == -1 and st != 2) %}
    	{action_raise_error("⚠️ WARNING! Homing cancelled, your INDX toolhead state is misconfigured. Active tool & toolhead state are not aligned! Run TOOL_STATUS to check!")}
  	{% endif %}
        
    RESPOND TYPE=COMMAND MSG="Homing requested"
    

    {% if 'z' not in printer.toolhead.homed_axes %}
      	{% if 'x' not in printer.toolhead.homed_axes or 'y' not in printer.toolhead.homed_axes %} 
        	{% if 'Z' in params %}
          		{ action_raise_error("Request denied, operation cancelled! Home X & Y axes first before requesting homing Z") }

        	{% else %}
          		{% if 'x' in printer.toolhead.homed_axes or 'y' in printer.toolhead.homed_axes %}
        
          		{% else %}
            		# RESPOND TYPE=COMMAND MSG="Raising Z axis for safe clearance prior to homing"
            		_Z_LIFT

          		{% endif %}
        	{% endif %}  
      	{% endif %}

	{% else %}
      	{% if printer.toolhead.position.z|float < 5 %}
        	RESPOND TYPE=COMMAND MSG="Z axis <5mm. Raising for safe clearance prior to homing"
        	_Z_LIFT
      	{% endif %} 
    {% endif %}  

    {% if home_all or 'Y' in params %}
        _HOME_Y
    {% endif %}
    
    {% if home_all or 'X' in params %}
        _HOME_X
    {% endif %}

   

    # Add this to homing_override Z section to work with 3DPD modified indx-tc-macros.cfg file 😈
    {% if home_all or 'Z' in params %}
        {% set st = printer["gcode_macro _TOOLCHANGE_VARS"].toolhead_state|int %}
        {% set act = printer.save_variables.variables.active_tool|default(-1)|int %}

        {% set x_pos = (printer.toolhead.axis_maximum.x / 2)|int %}
        {% set y_pos = (printer.toolhead.axis_maximum.y / 2)|int %}
        {% set rand_x = range((x_pos - 15|int), (x_pos + 15|int))|random %}
        {% set rand_y = range((y_pos - 15|int), (y_pos + 15|int))|random %}


        # checks if toolhead is empty when using the load cell, picks up a tool first before homing Z if empty
        {% if 'load_cell_probe' in printer and (act == -1 or st == 2) %}
            RESPOND TYPE=COMMAND MSG="⚠️ Toolhead empty! Homing XY so I can pickup a tool to home Z!"
            CHANGE_TOOL TOOL=0
            M400
            {% if printer.load_cell_probe.is_calibrated %}
                G90             
                G0 X{printer.toolhead.axis_maximum.x|float / 2} Y{printer.toolhead.axis_maximum.y|float / 2} F6000
                G28 Z 
                M400
            {% endif %}

        # if using the load cell & it is calibrated & the toolhead is carrying a tool move & home Z, also do this if load cell not defined
        {% elif ('load_cell_probe' in printer and printer.load_cell_probe.is_calibrated) or 'load_cell_probe' not in printer %}
            G90    
            # {% if act != 0 %}
            #   CHANGE_TOOL TOOL=0
            # {% endif %}

            G0 X{rand_x|int} Y{rand_y|int} F6000
            
            M400
            
            G28 Z 
            M400
        {% endif %}

        G0 Z20 F3600  
    {% endif %}

	M117
    G90
  



[gcode_macro _HOME_X]
gcode:
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.8
    M400

    G28 X
    G91
    {% if printer.configfile.settings.stepper_x.homing_positive_dir == False %}
        G0 X20 F3000
    {% else %}
        G0 X-20 F3000
    {% endif %}
    
    G90
    G4 P2000
    M400

    {% set cf = printer.configfile.config %}
    {% set driver_x = ["tmc2209 stepper_x", "tmc5160 stepper_x", "tmc2208 stepper_x", "tmc2226 stepper_x", "tmc2225 stepper_x", "tmc2130 stepper_x", "tmc2240 stepper_x", "tmc2660 stepper_x"] %}
    {% set driver_y = ["tmc2209 stepper_y", "tmc5160 stepper_y", "tmc2208 stepper_y", "tmc2226 stepper_y", "tmc2225 stepper_y", "tmc2130 stepper_y", "tmc2240 stepper_y", "tmc2660 stepper_y"] %}

  	{% for s in driver_x %}
    	{% if s in cf %}
            {% set run_x = cf[s].run_current|float %}
            # RESPOND TYPE=COMMAND MSG="X Stepper {s} run current {run}a
            SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_x}
        {% endif %}
    {% endfor %}

  	{% for s in driver_y %}
      	{% if s in cf %}
            {% set run_y = cf[s].run_current %}
            # RESPOND TYPE=COMMAND MSG="Y Stepper {s} run current {run}a
            SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_y}
        {% endif %}
    {% endfor %}

    M400 
    



[gcode_macro _HOME_Y]
gcode:
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.8
    M400

    G28 Y
    G91
    {% if printer.configfile.settings.stepper_y.homing_positive_dir == False %}
        G0 Y20 F3000
    {% else %}
        G0 Y-20 F3000
    {% endif %}
    
    G4 P2000
    M400

	{% set cf = printer.configfile.config %}
    {% set driver_x = ["tmc2209 stepper_x", "tmc5160 stepper_x", "tmc2208 stepper_x", "tmc2226 stepper_x", "tmc2225 stepper_x", "tmc2130 stepper_x", "tmc2240 stepper_x", "tmc2660 stepper_x"] %}
    {% set driver_y = ["tmc2209 stepper_y", "tmc5160 stepper_y", "tmc2208 stepper_y", "tmc2226 stepper_y", "tmc2225 stepper_y", "tmc2130 stepper_y", "tmc2240 stepper_y", "tmc2660 stepper_y"] %}

  	{% for s in driver_x %}
      	{% if s in cf %}
            {% set run_x = cf[s].run_current|float %}
             # RESPOND TYPE=COMMAND MSG="X Stepper {s} run current {run_x}a"
            SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_x} 
        {% endif %}
    {% endfor %}

  	{% for s in driver_y %}
      	{% if s in cf %}
            {% set run_y = cf[s].run_current %}
            # RESPOND TYPE=COMMAND MSG="Y Stepper {s} run current {run_y}a"
            SET_TMC_CURRENT STEPPER=stepper_y CURRENT={run_y}    
        {% endif %}
	{% endfor %}

    M400



[gcode_macro _Z_LIFT]
gcode:
  	{% set start_vars = printer["gcode_macro _START_VARIABLES"] %}
  	{% set core_vars = printer["gcode_macro _CORE_VARS"] %}
          
  	{% if 'z' not in printer.toolhead.homed_axes %}
    	RESPOND TYPE=COMMAND MSG="Raising Z axis for safe clearance prior to homing"
      	RESPOND TYPE=COMMAND MSG="WARNING AXES RESET FOR Z LIFT!!"
      	SET_KINEMATIC_POSITION X=0 Y=0 Z=0 SET_HOMED=Z
      	G90
      
        G0 Z10 F3000
        M400
        # RESPOND TYPE=COMMAND MSG="Disabling axes"

        SET_KINEMATIC_POSITION SET_HOMED= CLEAR_HOMED=XYZ
        M84
    
  	{% else %}
      	G90
        RESPOND TYPE=COMMAND MSG="Raising Z axis for safe clearance prior to homing"
        G0 Z10 F3000
        M400
  	{% endif %}

      
    
