[mcu cartographer] 
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_5E0044000C50315447313620-if00
restart_method: command      	# Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 26
verbose: yes      				# For extra output
register_as_probe: false 		# To allow tap with indx

# [cartographer touch]
# samples: 5
# max_samples: 20