[mcu cartographer] 
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_5E0044000C50315447313620-if00
restart_method: command      	# Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 26
verbose: yes      				# For extra output
register_as_probe: false 		# To allow tap with indx

# [cartographer touch]
# samples: 5
# max_samples: 20

[bed_mesh]
zero_reference_position: 175, 175  # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 20, 37 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 330, 320 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 40, 40
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

# [adxl345]
# cs_pin: cartographer:PA0
# spi_bus: spi1

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     175, 175, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.

# [gcode_macro CHECK_CARTOGRAPHER_OFFSET]
# gcode:
#   {% set X_OFFSET = printer.configfile.config["cartographer"]["x_offset"] %}
#   {% set Y_OFFSET = printer.configfile.config["cartographer"]["y_offset"] %}

#   M118 CARTOGRAPHER X OFFSET IS {X_OFFSET}
#   M118 CARTOGRAPHER Y OFFSET IS {Y_OFFSET}

####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position:175,175
# speed:300
# z_hop:5

# [homing_override]
# axes: xyz
# set_position_z: 0
# gcode:
#   LED_STATUS_HOMING
#   RELATIVE 
#   G1 Z10 F600
#   G28 Y
#   G1 Y-10 F5000
#   G28 X
#   ABSOLUTE
#   G1 X175 Y175 F9000
#   G28 Z
#   G1 Z15



##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]
#  Gantry Corners for 350mm Build
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 300
horizontal_move_z: 10
retries: 6
retry_tolerance: 0.0075
max_adjust: 10



# [scanner]
# canbus_uuid: a6bc1d568581
# x_offset: 0                          
# y_offset: 27               
# backlash_comp: 0.5
# sensor: cartographer
# sensor_alt: beacon
# #mesh_main_direction: y
# mesh_runs: 2
# scanner_touch_max_retries: 20
# backlash_comp: 0.02675
# #scanner_touch_speed: 1 #added to printer.cfg
# #scanner_touch_z_offset: 0.05 #added to printer.cfg

# [temperature_sensor Cartographer_MCU]
# sensor_type: temperature_mcu
# sensor_mcu: scanner
# min_temp: 0
# max_temp: 105

# [adxl345 CARTO]
# cs_pin: scanner:PA3
# spi_bus: spi1
# axes_map: x, -y, z

# [resonance_tester]
# accel_chip: adxl345 CARTO
# probe_points:
#      175, 175, 20  
# accel_per_hz: 100
# sweeping_accel: 400
# sweeping_period: 0

# [bed_mesh]
# zero_reference_position: 175, 175    
# #    set this to the middle of your bed
# speed: 300
# #    movement speed of toolhead during bed mesh
# horizontal_move_z: 5
# #    height of scanner during bed mesh scan
# mesh_min: 20, 37 #35, 6
# #    start point of bed mesh [X, Y]
# mesh_max: 330, 320
# #    end point of bed mesh [X, Y]
# probe_count: 40, 40
# algorithm: bicubic

# [gcode_macro CHECK_CARTOGRAPHER_OFFSET]
# gcode:
#   {% set X_OFFSET = printer.configfile.config["scanner"]["x_offset"] %}
#   {% set Y_OFFSET = printer.configfile.config["scanner"]["y_offset"] %}

#   M118 CARTOGRAPHER X OFFSET IS {X_OFFSET}
#   M118 CARTOGRAPHER Y OFFSET IS {Y_OFFSET}