[bed_mesh]  # for indx load cell
speed: 250
horizontal_move_z: 2.0
algorithm: bicubic
mesh_min: 33,75
mesh_max: 330,300  #480,450
probe_count: 20,20 #50,50
bicubic_tension: 0.1
fade_start: 0.6
fade_end: 10
#fade_target: 0
mesh_pps: 5, 5
#   A comma separated pair of integers X, Y defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2, 2.
zero_reference_position: 175, 175

# [bed_mesh]  # for cartographer
# zero_reference_position: 175, 175  # The centre of your bed. 
# speed: 300
# horizontal_move_z: 3
# mesh_min: 20, 37 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
# mesh_max: 330, 320 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
# probe_count: 40, 40
# adaptive_margin: 10
# mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[quad_gantry_level]
#  Gantry Corners for 350mm Build
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 300
horizontal_move_z: 10
retries: 6
retry_tolerance: 0.0075
max_adjust: 10

