# STOP_LED_EFFECTS LEDS="neopixel:panel_ring"
# STOP_LED_EFFECTS LEDS="neopixel:panel_ring (1-7)"
# {rawparams}
# {% set COOL_AFTER = params.COOL|default(False)|lower %}
# {% set COOL_AFTER = params.COOL|default(True)|lower %}
# {% if COOL_AFTER|lower == "true" %}
# {% if COOL_AFTER|lower == "false" %}

# [neopixel hotend_rgb]
# pin: EBB:PC7

# [gcode_macro STOP_LED_EFFECTS]
# rename_existing: STOP_LED_EFFECTS_BASE
# description: LED=TOOLHEAD / LED=FRAME / LED=ALL
# gcode:
#     {% set LED_NAME = params.LED|default('TOOLHEAD')|string %}

#     {% if LED_NAME == 'ALL' %}
#         STOP_LED_EFFECTS_BASE
#     {% elif LED_NAME == 'TOOLHEAD' %}
#         STOP_LED_EFFECTS_BASE LEDS="neopixel:toolhead_leds"
#     {% elif LED_NAME == 'FRAME' %}
#         STOP_LED_EFFECTS_BASE LEDS="neopixel:rainbowstick_top (1-50)"
#     {% else %}
#         STOP_LED_EFFECTS_BASE LEDS="neopixel:toolhead_leds"
#     {% endif %}

#########################
#       HARDWARE        #
#########################
# [neopixel toolhead_leds]
# pin: EBBCan: PC7
# chain_count: 10
# color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW,  GRBW
# initial_RED: 1.0
# initial_GREEN: 0.0
# initial_BLUE: 1.0
# initial_WHITE: 0.0

[neopixel rainbowstick_top]
pin: PB7
chain_count: 100
color_order: GRBW
initial_RED: 0.050
initial_GREEN: 0.050
initial_BLUE: 0.050
initial_WHITE: 0.050 #5

[neopixel rainbowstick_bottom]
pin: PB6
chain_count: 86
color_order: GRBW
initial_RED: 0.050
initial_GREEN: 0.050
initial_BLUE: 0.050
initial_WHITE: 0.050 #5





# [led_effect strip_off_map]
# leds:
#     neopixel:rainbowstick_top
# autostart: false
# frame_rate: 50
# layers:
#     static 0 0 top (0.0, 0.0, 0.0)

# [gcode_macro LED_MAP_TEST]
# gcode:
#     # SET_LED_EFFECT EFFECT=strip_off_map
#     {% set DELAY = params.DELAY|default(500)|int %}
#     {% for i in range(1, 101) %}
#         SET_LED LED=rainbowstick_top INDEX={i} RED=1.0 GREEN=1.0 BLUE=1.0 WHITE=1.0 TRANSMIT=1
#         M118 LED {i} is ON
#         G4 P{DELAY}
#         SET_LED LED=rainbowstick_top INDEX={i} RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=0.0 TRANSMIT=1
#     {% endfor %}
#     M118 LED map test complete!















# [led_effect chase_blue_forward]
# leds:
#     neopixel:rainbowstick_top (27-51)
# autostart: false
# frame_rate: 24
# layers:
#     comet 1.0 5 top (0.0, 0.0, 1.0)

# [led_effect chase_blue_backward]
# leds:
#     neopixel:rainbowstick_top (51-27)
# autostart: false
# frame_rate: 24
# layers:
#     comet 1.0 5 top (0.0, 0.0, 1.0)

# [led_effect strip_off]
# leds:
#     neopixel:rainbowstick_top (1-26)
#     neopixel:rainbowstick_top (52-100)
# autostart: false
# frame_rate: 50
# layers:
#     static 0 0 top (0.0, 0.0, 0.0)

# [delayed_gcode CHASE_BACKWARD]
# initial_duration: 0
# gcode:
#     SET_LED_EFFECT EFFECT=chase_blue_forward STOP=1
#     SET_LED_EFFECT EFFECT=chase_blue_backward
#     UPDATE_DELAYED_GCODE ID=CHASE_FORWARD DURATION=0.98 #1.0 #4

# [delayed_gcode CHASE_FORWARD]
# initial_duration: 0
# gcode:
#     SET_LED_EFFECT EFFECT=chase_blue_backward STOP=1
#     SET_LED_EFFECT EFFECT=chase_blue_forward
#     UPDATE_DELAYED_GCODE ID=CHASE_BACKWARD DURATION=0.98 #1.0 #4

# [gcode_macro LED_CHASE_BLUE_FRONT]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=strip_off
#     SET_LED_EFFECT EFFECT=chase_blue_forward
#     UPDATE_DELAYED_GCODE ID=CHASE_BACKWARD DURATION=0.98 #1.0 #4

# [gcode_macro LED_CHASE_BLUE_STOP]
# gcode:
#     UPDATE_DELAYED_GCODE ID=CHASE_FORWARD DURATION=0
#     UPDATE_DELAYED_GCODE ID=CHASE_BACKWARD DURATION=0
#     STOP_LED_EFFECTS








##########################
# LED Effects Animations #
##########################

##################
## logo effects ##
##################

# [led_effect sb_logo_busy]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#     breathing  3 1 top (1,0,0)

# [led_effect sb_logo_cleaning]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#     breathing  3 1 top (0.0, 0.02, 0.5)

# [led_effect sb_logo_calibrating_z]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#         breathing  3 1 top (0.0, 0.0, 0.35)

# [led_effect sb_logo_heating]
# leds:
#     neopixel:toolhead_leds (1,3,7,8,6,2)
# autostart:                          false
# frame_rate:                         24
# layers:
#     comet  0.3  0 add (1, 0.18, 0)

# [led_effect sb_logo_cooling]
# leds:
#     neopixel:toolhead_leds (1,3,7,8,6,2)
# autostart:                          false
# frame_rate:                         24
# layers:
#     comet  0.3  0 add (0, 0, 1)

# [led_effect sb_logo_homing]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#         breathing  3 1 top (0.0, 0.6, 0.2)

# [led_effect sb_logo_leveling]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#         breathing  3 1 top (0.5, 0.1, 0.4)

# [led_effect sb_logo_meshing]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#         breathing  3 1 top (0.2, 1.0, 0.0)

# [led_effect sb_logo_printing]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#     gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

# [led_effect sb_logo_standby]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#         breathing  3 1 top (0.01, 0.01, 0.01)

# [led_effect sb_logo_part_ready]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (1-8)
# layers:
#         breathing  3 1 top (0.0, 1.0, 0.0)

# ####################
# ## nozzle effects ##
# ####################

# [led_effect sb_nozzle_heating]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (9,10)
# layers:
#         breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

# [led_effect sb_nozzle_cooling]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (9,10)
# layers:
#         breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

# [led_effect sb_nozzle_standby]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (9,10)
# layers:
#         breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

# [led_effect sb_nozzle_part_ready]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (9,10)
# layers:
#         breathing  3 1 top (0.6, 1.0, 0.0, 0.1)

# [led_effect toolhead_nozzle_spotlight]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:toolhead_leds (9,10)
# layers:
#         static  3 1 top (1.0, 1.0, 1.0, 1.0)

# ##############################
# ## all toolhead led effects ##
# ##############################

# [led_effect sb_critical_error]
# leds:
#     neopixel:toolhead_leds
# layers:
#     strobe         1  1.5   add        (1.0,  1.0, 1.0)
#     breathing      2  0     difference (0.95, 0.0, 0.0)
#     static         1  0     top        (1.0,  0.0, 0.0)
# autostart:                             false
# frame_rate:                            24
# run_on_error:                          true

# [led_effect rainbow]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# #######################
# # LED Effects Statics #
# #######################

# [led_effect set_nozzle_leds]
# leds:
#     neopixel:toolhead_leds (9,10)
#    #neopixel:caselight
# autostart:                          false
# frame_rate:                         24
# layers:
#     static         0  0     top        (0.0,  0.0, 0.0, 1.0)

# [led_effect set_logo_leds]
# leds:
#     neopixel:toolhead_leds (1,2,3,4,5,6,7,8)
#    #neopixel:caselight
# autostart:                          false
# frame_rate:                         24
# layers:
#     static         0  0     top        (1.0,  1.0, 1.0)

#######################
# LED Effects Samples #
#######################

#####################
# Color Test Macros #
#####################

##############
# The Macros #
##############

[gcode_macro LED_SET_LOGO_LEDS_ON]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds

[gcode_macro LED_SET_LOGO_LEDS_OFF]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1

[gcode_macro LED_SET_NOZZLE_LEDS_ON]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro LED_SET_NOZZLE_LEDS_OFF]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

[gcode_macro LED_STATUS_OFF]
gcode:
    STOP_LED_EFFECTS

[gcode_macro LED_STATUS_READY]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro LED_STATUS_PART_READY]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_nozzle_part_ready
    SET_LED_EFFECT EFFECT=sb_logo_part_ready

[gcode_macro LED_STATUS_BUSY]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_HEATING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_heating
    SET_LED_EFFECT EFFECT=sb_nozzle_heating

[gcode_macro LED_STATUS_COOLING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cooling
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling

[gcode_macro LED_STATUS_LEVELING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_leveling
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_HOMING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    # SET_LED_EFFECT EFFECT=frame_led_homing
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_CLEANING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_MESHING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_meshing
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_CALIBRATING_Z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_PRINTING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_printing
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_PRINT_ENDING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_printing
    LED_SET_NOZZLE_LEDS_ON

[gcode_macro LED_STATUS_SPOTLIGHT]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=toolhead_nozzle_spotlight

#####################################
#         ON A STICK STUFF          #
#####################################
# [led_effect rainbow]
# leds:
#   neopixel:rainbowstick_top
# layers:
#   gradient 1 1 top (1,0,0),(0,1,0),(0,0,1)

# [led_effect idle]
# leds:
#   neopixel:rainbowstick_top
# layers:
#   breathing 10 1 top (.98,1,.27)
# frame_rate: 24

# [led_effect frame_led_spotlight]
# autostart:              true
# frame_rate:             24
# leds:
#   neopixel:rainbowstick_top
# layers:
#   static  1 1 top (1.0, 1.0, 1.0, 1.0)

# #LED EFFECT MACROS
# [gcode_macro LED_RAINBOW]
# gcode:
#   STOP_LED_EFFECTS
#   SET_LED_EFFECT EFFECT=rainbow

# [gcode_macro LED_IDLE]
# gcode:
#   STOP_LED_EFFECTS
#   SET_LED_EFFECT EFFECT=idle

# [gcode_macro LED_STOP]
# gcode:
#   STOP_LED_EFFECTS

# [gcode_macro LED_FRAME_SPOTLIGHT]
# gcode:
#   STOP_LED_EFFECTS
#   SET_LED_EFFECT EFFECT=frame_led_spotlight

# [led_effect disco_rainbow_chase]
# leds:
#   neopixel:rainbowstick_top
# autostart: false
# frame_rate: 40
# layers:
#   gradient 0.5 1 add (1,0,0),(1,0.5,0),(1,1,0),(0,1,0),(0,1,1),(0,0,1),(1,0,1),(1,0,0)

# # ---------- Macros for manual control ----------
# [gcode_macro LED_RAINBOW_ON]
# gcode:
#   SET_LED_EFFECT EFFECT=disco_rainbow_chase RESTART=1 REPLACE=1

# [gcode_macro LED_RAINBOW_OFF]
# gcode:
#   SET_LED_EFFECT EFFECT=disco_rainbow_chase STOP=1

# [led_effect frame_led_homing]
# #autostart:              true
# #frame_rate:             24
# leds:
#   neopixel:rainbowstick_top (1-75)
# layers:
#   breathing 1 1 top (1.0, 1.0, 1.0, 1.0)

#   # static  1 1 top (1.0, 1.0, 1.0, 1.0)

# # autostart:              false
# # frame_rate:             24
# # leds:
# #     neopixel:rainbowstick_top (1-75)
# # layers:
#         breathing  3 1 top (0.0, 0.6, 0.2)

# [led_effect test1]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     linearfade  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect test2]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     blink  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect test3]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     strobe  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect test4]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     twinkle  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect test5]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect test6]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     comet  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect test7]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     fire  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [led_effect test8]
# leds:
#     neopixel:toolhead_leds
# autostart:                          true
# frame_rate:                         24
# layers:
#     chase  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# [gcode_macro LED_TEST1]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test1

# [gcode_macro LED_TEST2]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test2

# [gcode_macro LED_TEST3]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test3

# [gcode_macro LED_TEST4]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test4

# [gcode_macro LED_TEST5]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test5

# [gcode_macro LED_TEST6]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test6

# [gcode_macro LED_TEST7]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test7

# [gcode_macro LED_TEST8]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test8

# [gcode_macro LED_SHOWOFF]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test1
#     G4 P5000
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test2
#     G4 P5000
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test3
#     G4 P5000
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test4
#     G4 P5000
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test5
#     G4 P5000
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test6
#     G4 P5000
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test7
#     G4 P5000
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=test8
#     G4 P5000
#     STOP_LED_EFFECTS