[homing_override]
gcode:
	{% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set z_hop = globals.z_hop %}
    {% set safe_x = globals.home_x %}
    {% set safe_y = globals.home_y %}

    {% set do_x = 'X' in params %}
    {% set do_y = 'Y' in params %}
    {% set do_z = 'Z' in params %}
    
    # {% set parked = printer["gcode_button park_sensor"].state == "PRESSED" %}
    
    {% if not (do_x or do_y or do_z) %}
    	{% set do_x = true %}
    	{% set do_y = true %}
    	{% set do_z = true %}
      #   {% if not parked %}
    		# RELATIVE
    		# G1 Z{z_hop} F1200
    		# ABSOLUTE
      #   {% endif %}
    {% endif %}

    {% if "z" not in printer.toolhead.homed_axes %}
    	SET_KINEMATIC_POSITION Z=0
    	RELATIVE
    	G1 Z{z_hop} F1200
    	ABSOLUTE
    	{% if not do_z %}
        	SET_KINEMATIC_POSITION SET_HOMED= CLEAR_HOMED=Z
    	{% endif %}
	{% else %}
    	RELATIVE
    	G1 Z{z_hop} F1200
    	ABSOLUTE
	{% endif %}

	{% if "y" not in printer.toolhead.homed_axes or do_y %}
      G28 Y
  	{% endif %}
    {% if ("x" not in printer.toolhead.homed_axes and do_z) or do_x %}
      G28 X
    {% endif %}

	{% if do_z %}
        G90
        {% if parked %}
   #      	M400
   #      	SET_KINEMATIC_POSITION SET_HOMED=Z Z=302
   #  		G1 Z295 F1200
			# M400
   #          G4 P200
   #          M400
   #          _CONTINUE_Z_HOMING
        {% else %}
        	{% set act = printer.save_variables.variables.active_tool|default(-1)|int %}
			{% if act < 0 %}
    			_PICKUP_TOOL TOOL=0
			{% endif %}
    		# CHANGE_TOOL TOOL=0
    		G1 X{safe_x} Y{safe_y} F12000
    		G28 Z
        {% endif %}
    {% endif %}

    RELATIVE
    G1 Z{z_hop} F1200
    ABSOLUTE



