[gcode_macro LOAD_FILAMENT_SAVE]
gcode:
	{% if 'TOOL' not in params and 'TYPE' not in params %}
    	{action_raise_error("TOOL and TYPE not in params. Proper: LOAD FILAMENT_SAVE TOOL=0 TYPE=PLA")}
	{% elif 'TOOL' not in params %}
        {action_raise_error("TOOL not in params. Proper: LOAD FILAMENT_SAVE TOOL=0 TYPE=PLA")}
    {% elif 'TYPE' not in params %}
        {action_raise_error("TYPE not in params. Proper: LOAD FILAMENT_SAVE TOOL=0 TYPE=PLA")}
    {% endif %}

	{% set TOOL_NUM = params.TOOL|int %} 
    {% set FIL_TYPE = params.TYPE|upper %} 
    {% set PRESETS = printer["gcode_macro LOAD_FILAMENT"].filament_presets %}
	
    {% if FIL_TYPE not in PRESETS %}
        {action_raise_error("I dont think the filament type is a real one. Sorry try again. Avaiable type are (dynamic list go here)")}
    {% endif %}
    
  	{% set INDX_INFO = printer.configfile.settings.indx %}
    {% set HEAT_CAP = INDX_INFO.model_filament_heat_capacity %}
    {% set DENSITY = PRESETS[FIL_TYPE].density %}
    
	M118 Current heat capacity: "{HEAT_CAP}" and Density: "{DENSITY}"
    
    {% if 'TEMP' in params %}
			RESPOND MSG="Running Command: LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} TEMP={params.TEMP} MEASURE=1"
            # LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} TEMP={params.TEMP} MEASURE=1
    {% else %}
    		RESPOND MSG="Running Command: LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} MEASURE=1"
			# LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} MEASURE=1
    {% endif %}
    
    SET_GCODE_VARIABLE MACRO=LOAD_FILAMENT_COMMIT VARIABLE=tool_num VALUE={TOOL_NUM}
    SET_GCODE_VARIABLE MACRO=LOAD_FILAMENT_COMMIT VARIABLE=density VALUE={DENSITY}
    UPDATE_DELAYED_GCODE ID=_LOAD_FILAMENT_COMMIT DURATION=1
    
    # M118 "Find (info name shown in console, check after first test) and enter it in the following command:"
    # M118 "SET_TOOL_FILAMENT TOOL={TOOL_NUM} DENSITY={DENSITY} HEAT_CAPACITY=GOESHERE"




    

[delayed_gcode _LOAD_FILAMENT_COMMIT]
gcode:
    LOAD_FILAMENT_COMMIT

[gcode_macro LOAD_FILAMENT_COMMIT]
variable_tool_num: -2
variable_density: 1
gcode:
    {% set INDX_INFO = printer.configfile.settings.indx %}    
    {% set PARAMETERS = printer["gcode_macro LOAD_FILAMENT_COMMIT"] %}
    {% set NEW_TOOL_NUM = PARAMETERS.tool_num|int %}
    {% set NEW_DENSITY = PARAMETERS.density|float %}
    {% set NEW_HEAT_CAP = INDX_INFO.model_filament_heat_capacity %}

	RESPOND MSG="Running Command: SET_TOOL_FILAMENT TOOL={NEW_TOOL_NUM} DENSITY={NEW_DENSITY} HEAT_CAPACITY={NEW_HEAT_CAP}"
    # SET_TOOL_FILAMENT TOOL={NEW_TOOL_NUM} DENSITY={NEW_DENSITY} HEAT_CAPACITY={NEW_HEAT_CAP}
    RESPOND MSG="Make sure to SAVE_CONFIG"