[gcode_macro LOAD_FILAMENT_SAVE]
gcode:
	{% if 'TOOL' not in params and 'TYPE' not in params %}
    	{action_raise_error("TOOL and TYPE not in params. Proper: LOAD FILAMENT_SAVE TOOL=0 TYPE=PLA")}
	{% elif 'TOOL' not in params %}
        {action_raise_error("TOOL not in params. Proper: LOAD FILAMENT_SAVE TOOL=0 TYPE=PLA")}
    {% elif 'TYPE' not in params %}
        {action_raise_error("TYPE not in params. Proper: LOAD FILAMENT_SAVE TOOL=0 TYPE=PLA")}
    {% endif %}

	{% set TOOL_NUM = params.TOOL|int %} 
    {% set FIL_TYPE = params.TYPE|upper %} 
    {% set PRESETS = printer["gcode_macro LOAD_FILAMENT"].filament_presets %}
	
    {% if FIL_TYPE not in PRESETS %}
        {action_raise_error("I dont think the filament type is a real one. Sorry try again. Avaiable type are (dynamic list go here)")}
    {% endif %}
    
    {% set DENSITY = PRESETS[FIL_TYPE].density %}


  
	RESPOND MSG="Current info would be:"
  	{% set INDX_INFO = printer.configfile.settings.indx %}
    {% set NEW_HEAT_CAP = INDX_INFO.model_filament_heat_capacity %}
	M118 HC: "{NEW_HEAT_CAP}"
    
    {% if 'TEMP' in params %}
    		# LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} TEMP={params.TEMP} MEASURE=1
            RESPOND MSG="LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} TEMP={params.TEMP} MEASURE=1"
    {% else %}
			# LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} MEASURE=1
            RESPOND MSG="LOAD_FILAMENT TOOL={TOOL_NUM} TYPE={FIL_TYPE} MEASURE=1"
    {% endif %}

	M118 DENSITY: ""{DENSITY}""
    
    SET_GCODE_VARIABLE MACRO=LOAD_FILAMENT_COMMIT VARIABLE=tool_num VALUE={TOOL_NUM}
    SET_GCODE_VARIABLE MACRO=LOAD_FILAMENT_COMMIT VARIABLE=density VALUE={DENSITY}
    UPDATE_DELAYED_GCODE ID=_LOAD_FILAMENT_COMMIT DURATION=1
    
    # M118 "Find (info name shown in console, check after first test) and enter it in the following command:"
    # M118 "SET_TOOL_FILAMENT TOOL={TOOL_NUM} DENSITY={DENSITY} HEAT_CAPACITY=GOESHERE"




    

[delayed_gcode _LOAD_FILAMENT_COMMIT]
gcode:
    LOAD_FILAMENT_COMMIT

[gcode_macro LOAD_FILAMENT_COMMIT]
variable_tool_num: -2
variable_density: 1
gcode:
	# {% set INDX_INFO = printer.indx %}
    {% set INDX_INFO = printer.configfile.settings.indx %}
    
    {% set PARAMETERS = printer["gcode_macro LOAD_FILAMENT_COMMIT"] %}
    {% set NEW_TOOL_NUM = PARAMETERS.tool_num|int %}
    {% set NEW_DENSITY = PARAMETERS.density|float %}
    # {% set TOOL_NUM = printer["gcode_macro LOAD_FILAMENT_COMMIT"].tool_num|int %}
    # {% set DENSITY = printer["gcode_macro LOAD_FILAMENT_COMMIT"].density|float %}
    {% set NEW_HEAT_CAP = INDX_INFO.model_filament_heat_capacity %}

	
    
    # SET_TOOL_FILAMENT TOOL={NEW_TOOL_NUM} DENSITY={NEW_DENSITY} HEAT_CAPACITY={NEW_HEAT_CAP}
    RESPOND MSG="T{NEW_TOOL_NUM} saved measured HC={NEW_HEAT_CAP} (density {NEW_DENSITY}). Run SAVE_CONFIG."
    RESPOND MSG="Would be running the command:"
    RESPOND MSG="SET_TOOL_FILAMENT TOOL={NEW_TOOL_NUM} DENSITY={NEW_DENSITY} HEAT_CAPACITY={NEW_HEAT_CAP}"