[gcode_macro INDX_UNLOAD_FILAMENT]
gcode:
 	{% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
  	{% set UNLOAD_TEMP = params.TEMP|default(globals.indx_unload_temp)|int %}
  	{% set UNLOAD_DIST = params.DIST|default(globals.indx_unload_dist)|int %}
    {% set UNLOAD_SPEED = params.SPEED|default(globals.indx_unload_speed)|int %}
    {% set UNLOAD_FORMING_DIST = params.DIST|default(globals.indx_unload_forming_dist)|int %}
    {% set UNLOAD_FORMING_SPEED = params.SPEED|default(globals.indx_unload_forming_speed)|int %}
    
  	{% if printer.extruder.temperature < TEMP - 5 %}
    		M109 S{UNLOAD_TEMP}
  	{% endif %}
  	RELATIVE_E
  	G92 E0
  	# G1 E8 F300 #push it (Ooh, baby, baby, baby, baby ) to form tip
    G1 E{UNLOAD_FORMING_DIST} F{UNLOAD_FORMING_SPEED} # push it (Ooh, baby, baby, baby, baby ) to form tip
  	G1 E-{UNLOAD_DIST} F{UNLOAD_SPEED}
  	M104 S0 # cool off hotend
    M118 Filament unloaded!