[gcode_macro MAGNET_TEST]
description: Test Magnet
gcode:
	    {% set c = printer["gcode_macro _INDX_CONSTANTS"] %}
    	# INDX_DOCK_MEASURE
    	# {% set m = printer.indx.last_dock_measurement %}
         READ_DOCK_POSITION TOOL={params.TOOL|default(0)}
    	{% set m = printer.indx.last_dock_measurement %}
    	{% if not m or m.x is none or m.y is none %}
        	RESPOND MSG="NO MAGNET DETECTED!"
            # { action_raise_error("NO MAGNET DETECTED") }
    	{% else %}
        	RESPOND	MSG="Magnet WAS detected"
        {% endif %}