[gcode_macro _GLOBALS]
# ─── MACHINE INFO ───────────────────
############# MACHINE VARIABLES #############
variable_printer_name: 'Voron 2.4'
variable_printer_name_audio: 'Voron Two Point Four'
variable_nozzle_size: '0.4'
# ─── EXTRA HARDWARE ────────────────
variable_camera_front_name: 'usb-046d_HD_Pro_Webcam_C920_17B7975F-video-index0'
variable_camera_rear_name: 'usb-Vimicro_Corp._HBVCAM_FHD_CAMERA-video-index0'
# ─── TEMP PRINT VARIABLES ─────────────
variable_random_int: 0
variable_random_int_secondary: 0
variable_is_currently_printing: 'False'
variable_material: "PLA"
variable_start_bed_temp: 0
variable_nozzle_preheat_temp: 125
variable_nozzle_touch_temp: 150
variable_start_nozzle_temp: 0
variable_z_offset: 0
variable_adaptive_mesh: True
variable_bed_fans_on: False
# ─── USE OPTIONS ────────────────────
variable_use_nozzle_clean: True
variable_use_quad_gantry_level: True
variable_use_bed_mesh: True
variable_use_adaptive_mesh: True
variable_use_nozzle_cleaning: True
variable_use_filament_sensor: False
variable_use_purge_line: True
variable_use_end_retract: True
variable_use_end_lift: True
variable_use_end_print_clean_nozzle: True
# ─── BED MESH STUFF ─────────────────
variable_load_mesh: False
variable_mesh_profile_name: 'default'
# ─── END PRINT STUFF ─────────────────
variable_end_retract_length: 5 # 15
variable_end_retract_speed: 60
variable_end_z_lift_amount: 15
variable_end_z_extra_space: 10
# ─── FAN STUFF ──────────────────────
variable_bed_fan_name: 'bed_fans'
variable_bed_fan_slow_spd: 30
variable_bed_fan_fast_spd: 100
variable_bed_fan_temp_threshold: 100 # If bed temp target is above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
variable_controller_fan_use: True
# ─── NEVERMORE STUFF ────────────────
variable_nevermore_fan_name: 'nevermore_fan'
variable_nevermore_speed: 0
# ─── UNLOAD STUFF───────────────────
variable_unload_temperature: 210
variable_unload_distance: 85
variable_unload_speed: 300
# ─── HOMING STUFF ───────────────────
variable_home_x:  175
variable_home_y:  175
# ─── INDX STUFF ─────────────────────
variable_indx_park_speed:  6000
variable_indx_pickup_speed:  6000
variable_indx_unload_temp: 210
variable_indx_unload_distance: 80
variable_indx_unload_speed: 600
variable_indx_unload_forming_distance: 8
variable_indx_unload_forming_speed: 300

# # ─── NOZZLE CLEANING STUFF ───────────
# variable_cleaning_x_right_pos: 45
# variable_cleaning_x_left_pos: 20
# variable_cleaning_ooze_prevention_x: 7
# variable_cleaning_y_pos: 360
# variable_cleaning_z_relative_pos: 10
# variable_cleaning_z_preprint_pos: 10
# variable_cleaning_min_temp: 180
# variable_cleaning_cool_to_temp: 120
# variable_cleaning_wipe_qty: 5
# variable_cleaning_y_move_away: 10
# variable_cleaning_wipe_spd: 350 ; will be multiplied by 60 so dont forget
# variable_cleaning_use_lift_before: True
# variable_cleaning_use_prevent_ooze_after: False
# variable_cleaning_use_cool_after: False
# # ─── TESTING STUFF ───────────────────
# variable_belt_check_top_z: 280
# variable_belt_check_bottom_z: 30
# variable_belt_check_middle_z: 50
# # ─── AUTO UNLOAD STUFF ──────────────
# variable_auto_load_temperature: 235
# variable_auto_load_min_temp: 230
# variable_auto_load_extruder_to_nozzle: 75
# variable_auto_load_extra_dist: 95 #base 55
# variable_auto_load_spd: 450

gcode:
	{% if 'STARTUP' in params|upper %}
  		M118 !!! GLOBALS MACRO RAN BUT HIDDEN !!!   
	{% else %}
		{% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
		{% set name_space = namespace(out="") %}
		{% for var_name in globals %}
    		{% set name_space.output = name_space.output ~ var_name ~ " = " ~ globals[var_name] ~ "\n" %}
        	M118 Variable {var_name}={globals[var_name]}
    	{% endfor %}
	{% endif %}



  # {% set globals = printer['gcode_macro _GLOBALS'] %}
  # {% set max_size = printer.toolhead.axis_maximum %}
  # {% set min_size = printer.toolhead.axis_minimum %}

  # SET_GCODE_VARIABLE MACRO=GLOBALS VARIABLE=park_x_pos VALUE={max_size.x}
  # SET_GCODE_VARIABLE MACRO=GLOBALS VARIABLE=park_y_pos VALUE={min_size.y}

[gcode_macro CHECK_TEMP_VARIBALES]
description: Whats the temp variables currently?
gcode:
      {% set globals = printer['gcode_macro _GLOBALS'] %}
      
      M118 Variable random_int={globals.random_int}
      M118 Variable random_int_secondary={globals.random_int_secondary}
      M118 Variable is_currently_printing={globals.is_currently_printing}
      M118 Variable material={globals.material}
      M118 Variable start_bed_temp={globals.start_bed_temp}
      M118 Variable nozzle_preheat_temp={globals.nozzle_preheat_temp}
      M118 Variable nozzle_touch_temp={globals.nozzle_touch_temp}
      M118 Variable start_nozzle_temp={globals.start_nozzle_temp}
      M118 Variable z_offset={globals.z_offset}
      M118 Variable adaptive_mesh={globals.adaptive_mesh}
      M118 Variable bed_fans_on={globals.bed_fans_on}
