[gcode_macro _GLOBALS]
# ─── MACHINE INFO ───────────────────
############# MACHINE VARIABLES #############
variable_printer_name: 'Voron 2.4'
variable_printer_name_audio: 'Voron Two Point Four'
variable_nozzle_size: '0.4'
# ─── EXTRA HARDWARE ────────────────
variable_camera_front_name: 'usb-046d_HD_Pro_Webcam_C920_17B7975F-video-index0'
variable_camera_rear_name: 'usb-Vimicro_Corp._HBVCAM_FHD_CAMERA-video-index0'
# ─── TEMP PRINT VARIABLES ─────────────
variable_random_int: 0
variable_random_int_secondary: 0
variable_is_currently_printing: 'False'
variable_material: "PLA"
variable_start_bed_temp: 0
variable_nozzle_preheat_temp: 125
variable_nozzle_touch_temp: 150
variable_start_nozzle_temp: 0
variable_z_offset: 0
variable_adaptive_mesh: True
variable_bed_fans_on: False
# ─── USE OPTIONS ────────────────────
variable_use_nozzle_clean: True
variable_use_quad_gantry_level: True
variable_use_bed_mesh: True
variable_use_adaptive_mesh: True
variable_use_nozzle_cleaning: True
variable_use_filament_sensor: False
variable_use_purge_line: True
variable_use_end_retract: True
variable_use_end_lift: True
variable_use_end_print_clean_nozzle: True
# ─── BED MESH STUFF ─────────────────
variable_load_mesh: False
variable_mesh_profile_name: 'default'
# ─── END PRINT STUFF ─────────────────
variable_end_retract_length: 5 # 15
variable_end_retract_speed: 60
variable_end_z_lift_amount: 15
variable_end_z_extra_space: 10
# ─── FAN STUFF ──────────────────────
variable_bed_fan_name: 'bed_fans'
variable_bed_fan_slow_spd: 30
variable_bed_fan_fast_spd: 100
variable_bed_fan_temp_threshold: 100 # If bed temp target is above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
variable_controller_fan_use: True
# ─── NEVERMORE STUFF ────────────────
variable_nevermore_fan_name: 'nevermore_fan'
variable_nevermore_speed: 0
# ─── UNLOAD STUFF───────────────────
variable_unload_temperature: 210
variable_unload_distance: 85
variable_unload_speed: 300
# ─── Unload ─────────────────────────
variable_home_x:  175
variable_home_y:  175
# ─── Unload ─────────────────────────
variable_indx_park_speed:  6000
variable_indx_pickup_speed:  6000
variable_indx_unload_temp: 210
variable_indx_unload_distance: 80
variable_indx_unload_speed: 600
variable_indx_unload_forming_distance: 8
variable_indx_unload_forming_speed: 300


# # ─── NOZZLE CLEANING STUFF ───────────
# variable_cleaning_x_right_pos: 45
# variable_cleaning_x_left_pos: 20
# variable_cleaning_ooze_prevention_x: 7
# variable_cleaning_y_pos: 360
# variable_cleaning_z_relative_pos: 10
# variable_cleaning_z_preprint_pos: 10
# variable_cleaning_min_temp: 180
# variable_cleaning_cool_to_temp: 120
# variable_cleaning_wipe_qty: 5
# variable_cleaning_y_move_away: 10
# variable_cleaning_wipe_spd: 350 ; will be multiplied by 60 so dont forget
# variable_cleaning_use_lift_before: True
# variable_cleaning_use_prevent_ooze_after: False
# variable_cleaning_use_cool_after: False
# # ─── TESTING STUFF ───────────────────
# variable_belt_check_top_z: 280
# variable_belt_check_bottom_z: 30
# variable_belt_check_middle_z: 50
# # ─── AUTO UNLOAD STUFF ──────────────
# variable_auto_load_temperature: 235
# variable_auto_load_min_temp: 230
# variable_auto_load_extruder_to_nozzle: 75
# variable_auto_load_extra_dist: 95 #base 55
# variable_auto_load_spd: 450


gcode:


    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set name_space = namespace(out="") %}
    {% for var_name in globals %}
    {% set name_space.output = name_space.output ~ var_name ~ " = " ~ globals[var_name] ~ "\n" %}
    {% endfor %}
    M118 {name_space.output}
    # {action_respond_info(ns.out)}



  {% set globals = printer['gcode_macro _GLOBALS'] %}
  # {% set max_size = printer.toolhead.axis_maximum %}
  # {% set min_size = printer.toolhead.axis_minimum %}

  # SET_GCODE_VARIABLE MACRO=GLOBALS VARIABLE=park_x_pos VALUE={max_size.x}
  # SET_GCODE_VARIABLE MACRO=GLOBALS VARIABLE=park_y_pos VALUE={min_size.y}
  
  {% if 'STARTUP' in params|upper %}
    M118 !!! GLOBALS MACRO RAN BUT HIDDEN !!!   
  {% else %}
    # M118 ---------- PRINTER STUFF ----------
    # M118 Variable printer_name={globals.printer_name}
    # M118 Variable printer_name_audio={globals.printer_name_audio}
    # M118 Variable material={globals.material}
    # M118 Variable nozzle_size={globals.nozzle_size}
    # M118 ---------- AUTO SET VARIABLES ----------
    # M118 Variable park_x_pos={globals.park_x_pos}
    # M118 Variable park_y_pos={globals.park_y_pos}
    # M118 ---------- RETRACTION STUFF ----------
    # M118 Variable retraction_len={globals.retraction_len}
    # M118 Variable retraction_spd={globals.retraction_spd}
    # M118 Variable end_retraction_len={globals.end_retraction_len}
    # M118 Variable end_retraction_spd={globals.end_retraction_spd}
    # M118 Variable z_hop={globals.z_hop}
    # M118 ---------- TEMPORARY VARIABLES ----------
    # M118 Variable nozzle_temp={globals.nozzle_temp}
    # M118 Variable bed_temp={globals.bed_temp}
    # M118 Variable temp_temp={globals.temp_temp}
    # M118 Variable mesh_name={globals.mesh_name}
    # M118 Variable temp_retraction_len={globals.temp_retraction_len}
    # M118 Variable temp_end_retraction_spd={globals.temp_end_retraction_spd}
    # M118 Variable temp_z_hop={globals.temp_z_hop}
    # M118 Variable skew_profile_name={globals.skew_profile_name}
    # M118 Variable print_time={globals.print_time}
    # M118 ---------- PRINTABLE AREA STUFF ----------
    # M118 Variable bed_x_max={globals.bed_x_max}
    # M118 Variable bed_y_max={globals.bed_y_max}
    # M118 Variable bed_z_max={globals.bed_z_max}
    # M118 ---------- PURGE LINE STUFF ----------
    # M118 Variable purge_line_x={globals.purge_line_x}
    # M118 Variable purge_line_y={globals.purge_line_y}
    # M118 Variable purge_line_z={globals.purge_line_z}
    # M118 Variable purge_line_length={globals.purge_line_length}
    # M118 Variable purge_amount={globals.purge_amount}
    # M118 Variable purge_lift={globals.purge_lift}
    # M118 Variable purge_wait_x={globals.purge_wait_x}
    # M118 Variable purge_wait_y={globals.purge_wait_y}
    # M118 Variable purge_wait_z={globals.purge_wait_z}
    # M118 Variable purge_z={globals.purge_z}
    # M118 ---------- ORBITER STUFF ----------
    # M118 Variable orbiter_extruder_to_nozzle={globals.orbiter_extruder_to_nozzle}
    # M118 Variable orbiter_load_extra={globals.orbiter_load_extra}
    # M118 Variable orbiter_unload_extra={globals.orbiter_unload_extra}
    # M118 Variable orbiter_unload_pause={globals.orbiter_unload_pause}
    # M118 Variable orbiter_unload_forming_len={globals.orbiter_unload_forming_len}
    # M118 Variable orbiter_unload_forming_spd={globals.orbiter_unload_forming_spd}
    # M118 Variable orbiter_unload_slow_spd={globals.orbiter_unload_slow_spd}
    # M118 Variable orbiter_coldend_to_nozzle={globals.orbiter_coldend_to_nozzle}
    # M118 Variable orbiter_load_temp={globals.orbiter_load_temp}
    # M118 Variable orbiter_unload_temp={globals.orbiter_unload_temp}
    # M118 Variable orbiter_load_min_temp={globals.orbiter_load_min_temp}
    # M118 Variable orbiter_load_spd={globals.orbiter_load_spd}
    # M118 Variable orbiter_disable_autoload={globals.orbiter_disable_autoload}
    # M118 Variable orbiter_disable_runnout={globals.orbiter_disable_runnout}
    # M118 Variable orbiter_disable_autounload={globals.orbiter_disable_autounload}
    # M118 Variable orbiter_enable_beep={globals.orbiter_enable_beep}
    # M118 Variable orbiter_park_retraction={globals.orbiter_park_retraction}
    # M118 Variable runout_sensor_name={globals.runout_sensor_name}
    # M118 ---------- PARK STUFF ----------
    # M118 Variable park_x_pos={globals.park_x_pos}
    # M118 Variable park_y_pos={globals.park_y_pos}
    # M118 Variable park_lift_z={globals.park_lift_z}
    # M118 ---------- CARTOGRAPHER STUFF ----------
    # M118 Variable cartographer_xy_speed={globals.cartographer_xy_speed}
    # M118 ---------- PAUSE/RESUME STUFF ----------
    # M118 Variable pause_spd={globals.pause_spd}
    # M118 Variable pause_hours={globals.pause_hours}
    # M118 ---------- VENTING/NEVERMORE TIME ----------
    # M118 Variable venting_minutes={globals.venting_minutes}
    # #M118 ---------- TOUCH STUFF ----------
    # #M118 Variable touch_x={globals.touch_x}
    # #M118 Variable touch_y={globals.touch_y}
  {% endif %}

[gcode_macro CHECK_TEMP_VARIBALES]
description: Whats the temp variables currently?
gcode:
      {% set globals = printer['gcode_macro _GLOBALS'] %}
      
      M118 Variable random_int={globals.random_int}
      M118 Variable random_int_secondary={globals.random_int_secondary}
      M118 Variable is_currently_printing={globals.is_currently_printing}
      M118 Variable material={globals.material}
      M118 Variable start_bed_temp={globals.start_bed_temp}
      M118 Variable nozzle_preheat_temp={globals.nozzle_preheat_temp}
      M118 Variable nozzle_touch_temp={globals.nozzle_touch_temp}
      M118 Variable start_nozzle_temp={globals.start_nozzle_temp}
      M118 Variable z_offset={globals.z_offset}
      M118 Variable adaptive_mesh={globals.adaptive_mesh}
      M118 Variable bed_fans_on={globals.bed_fans_on}
