# [gcode_macro CARTOGRAPHER_SETUP_1]
# description: 
# gcode:
#   PROBE_SWITCH MODE=touch
#   SAVE_CONFIG

# [gcode_macro CARTOGRAPHER_SETUP_2]
# description: 
# gcode:
#   #G28 X Y
#   G28
#   G0 X175 Y175
#   CARTOGRAPHER_CALIBRATE METHOD=manual
#   M118 Make Sure to SAVE_CONFIG

# [gcode_macro CARTOGRAPHER_SETUP_3]
# description: 
# gcode:
#   G28
#   M118 Doing PROBE_ACCURACY
#   PROBE_ACCURACY
#   M118 Doing CARTOGRAPHER_ESTIMATE_BACKLASH
#   CARTOGRAPHER_ESTIMATE_BACKLASH
#   M118 Replace BACKLASH_COMP in cartographer config with DELTA from above
#   M118 Save After

# [gcode_macro CARTOGRAPHER_SETUP_4]
# description: 
# gcode:
#   G28
#   M118 Doing QUAD_GANTRY_LEVEL
#   QUAD_GANTRY_LEVEL
#   M118 Doing BED_MESH_CALIBRATE
#   BED_MESH_CALIBRATE
#   M118 Saving Config
#   SAVE_CONFIG

# [gcode_macro CARTOGRAPHER_SETUP_5]
# description: 
# gcode:
#   G28
#   M118 Doing QUAD_GANTRY_LEVEL
#   QUAD_GANTRY_LEVEL
#   M118 Homing Just Z  
#   G28 Z
#   M118 Doing CARTOGRAPHER_THRESHOLD_SCAN 
#   CARTOGRAPHER_THRESHOLD_SCAN 
#   M118 Is everything good? If so continue to CARTOGRAPHER_SETUP_6 else try CARTOGRAPHER_THRESHOLD_SCAN MIN=(value of last false positive)

# [gcode_macro CARTOGRAPHER_SETUP_6]
# description: 
# gcode:
#   G28
#   M118 Doing CARTOGRAPHER_CALIBRATE
#   CARTOGRAPHER_CALIBRATE
#   M118 Saving Config
#   SAVE_CONFIG


[gcode_macro CARTOGRAPHER_SETUP_1]
description: 1of2 Manual leveling step, use 0.1mm spacer
gcode:
    G28
    LED_STATUS_SPOTLIGHT
    CARTOGRAPHER_SCAN_CALIBRATE

[gcode_macro CARTOGRAPHER_SETUP_2]
description: 2of2 Automatic calibration as long as nozzle touches correctly
gcode:
    G28
    # Use one Or the other. Or none. Of the below
    # Z_TILT_ADJUST
    #QUAD_GANTRY_LEVEL 
    M118 !!! MAKE SURE NOZZLE TOUCHES THE BED IN THIS NEXTSTEP !!!
    CARTOGRAPHER_TOUCH_CALIBRATE


