# [gcode_macro ENDSTOP_CHECK]
# description: 
# gcode:
#   QUERY_ENDSTOPS

# [gcode_button my_gcode_button]
# pin: indxmcu:endstop
# press_gcode:
#   M118 INDX X STOP PRESSED!
# release_gcode:
#   M118 INDX X STOP RELEASED!

# [gcode_button my_gcode_button_two]
# pin: EBBCan:PA15
# press_gcode:
#   M118 X STOP PRESSED!
# release_gcode:
#   M118 X STOP RELEASED!

# [gcode_button my_gcode_button_three]
# pin: PG9
# press_gcode:
#   M118 Y STOP PRESSED!
# release_gcode:
#   M118 Y STOP RELEASED!