################################
######### HEAT_BED #########
################################
[gcode_macro HEAT_BED]
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    ## Preheat bed
    {% if globals.start_bed_temp > 0 %} ; if bed temp is set
      LED_STATUS_HEATING
        
      M118 {"Warming extruder to " + globals.nozzle_preheat_temp|int|string + "°C"} ; status feedback
      SET_HEATER_TEMPERATURE HEATER=extruder TARGET={globals.nozzle_preheat_temp} ; allow partial nozzle warmup
      M118 {"Preheating bed to " + globals.start_bed_temp|int|string + "°C"} ; status feedback
      SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={globals.start_bed_temp} ; set bed temp
      # {% if globals.bed_fans_on|lower == "true" %} ; if using bed fans
      #   BED_FANS_SLOW
      # {% endif %}
      TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={globals.start_bed_temp-1} MAXIMUM={globals.start_bed_temp+5} ; wait for bed temp
      # {% if globals.bed_fans_on|lower == "true" %} ; if using bed fans
      #   BED_FANS_FAST
      # {% endif %}
    {% else %}
      M118 No bed temperature set!!!
    {% endif %}


# {% set COOL_AFTER = params.COOL|default(False)|lower %}
# {% if COOL_AFTER|lower == "true" %}