################################
######### PREP_CHAMBER #########
################################
[gcode_macro PREP_CHAMBER]
gcode:
    M118 INSERT PREP_CHAMBER CODE HERE MAYBE I DONT KNOW ITS NEEDED YET MAYBE LATER?????
    # {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    # {% if globals.chamber|lower == "true" %} ; if using a chamber
    #     {% if globals.chamber_temp != 0 %} ; if chamber temp is set
    #         M118 Preheating chamber ; status feedback

    #         LED_STATUS_HEATING
            
    #         {% if globals.chamber_type == 'temperature_fan' %} ; if using a temperature_fan chamber sensor
    #             SET_TEMPERATURE_FAN_TARGET temperature_fan={globals.chamber_name} target={globals.chamber_temp} ; set chamber temp
    #         {% elif globals.chamber_type == 'heater_generic' %} ; if using a heater_generic chamber sensor
    #             SET_HEATER_TEMPERATURE HEATER={globals.chamber_name} TARGET={globals.chamber_temp} ; set chamber temp
    #         {% endif %}
    #         {% if globals.heat_soak|lower == "true" %} ; if heat soak is enabled
    #             SET_GCODE_VARIABLE MACRO=_globals VARIABLE=heat_soak_complete VALUE=0 ; set heat soak incomplete
    #             HEAT_SOAK ; start heat soak
    #         {% endif %}
    #     {% endif %}
    # {% endif %}

# {% set COOL_AFTER = params.COOL|default(False)|lower %}
# {% if COOL_AFTER|lower == "true" %}