################################
########## PREP_FANS ###########
################################
[gcode_macro PREP_FANS]
gcode:
    M118 INSERT PREP_FANS CODE HERE MAYBE I DONT KNOW ITS NEEDED!!!
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    ## Set controller fan
    # {% if globals.controller_fan_use|lower == "true" %} ; if using a controller fan
    #     {globals.controller_fan_start} ; start controller fan
    # {% endif %}
    ## Set part-cooling fan (off)
    M107 ; turn off part cooling fan
        
    ## Set nevermore/filter fan
    {% if globals.nevermore_speed > 0 %} ; if using a nevermore/filter fan
        SET_FAN_SPEED FAN={globals.nevermore_fan_name} SPEED={globals.nevermore_speed} ; set nevermore/filter fan speed
    {% endif %}


# {% set COOL_AFTER = params.COOL|default(False)|lower %}
# {% if COOL_AFTER|lower == "true" %}