################################
######### PREP_HOTEND ##########
################################
[gcode_macro PREP_HOTEND]
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% if globals.use_filament_sensor|lower == "true" %} ; if using auto filament sensor
        FILAMENT_SENSOR_ENABLE ## Turn on Filament Sensor
    {% endif %}
    ## Begin heating extruder hotend
    M118 Preheating tool ; status feedback
    LED_STATUS_HEATING ; LED feedback
    ## Park for preheating
    {% if globals.use_nozzle_cleaning|lower == "true" %} ; if using nozzle cleaning
        # G0 Z{25 + globals.cleaning_z_preprint_pos} F240 ; move to pre-cleaning height
        # G0 X{(globals.cleaning_x_right_pos + globals.cleaning_x_left_pos)/2} Y{globals.cleaning_y_pos - 10} F3000 ; move to park position
        M109 S{globals.cleaning_min_temp} ; wait for nozzle temp to stabilize
        CLEAN_NOZZLE LIFT=False ; clean the nozzle
    {% else %} ; if not using nozzle cleaning
        G0 Z{globals.start_preheat_z} F240 ; move to pre-heating height
        G0 X{globals.start_preheat_x} Y{globals.start_preheat_y} F3000 ; move to park position
    {% endif %}
    ## Wait for heating to complete
    M109 S{globals.start_nozzle_temp} ; wait for nozzle temp to stabilize
    LED_STATUS_PRINTING
    MUSIC_PRINT_START
    
    ## Nozzle Purging
    {% if globals.use_purge_line|lower == "true" %} ; if using nozzle purging
        M118 Purging!
        LINE_PURGE
    {% endif %}
    ## Final catch up
    M400
    ## Extruder configuration
    G21 ; set units to millimeters
    G90 ; use absolute coordinates
    M82 ; use absolute distances for extrusion
    G92 E0 ; reset extrusion distance