
# LED_STATUS_HEATING

################################
######### PREP_SURFACE #########
################################
[gcode_macro PREP_SURFACE]
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    #{% set config = printer.configfile.settings %} ; get realtime configfile settings
    G28 ; home XYZ axis
    {% if globals.use_nozzle_clean|lower == "true" %} ; if cleaning before probing
        CLEAN_NOZZLE LIFT=False OOZE=True
    {% endif %}
    M400 ; wait for moved to finish
    M118 Making sure bed is at target temperature
    M190 S{globals.start_bed_temp}
    M118 Making sure hotend is at touch temperature
    M109 S{globals.nozzle_touch_temp}
    {% if globals.use_quad_gantry_level|lower != "false" %} ; Use QGL if not false
      M118 Doing Quad Gantry Leveling ; status feedback
      QUAD_GANTRY_LEVEL  ; adjust QGL
    {% endif %}
    G28 Z ; home Z axis
    CARTOGRAPHER_TOUCH_HOME ; Home for real Z0 using cartographer touch
    # Bed mesh
    {% if globals.use_bed_mesh|lower != "false" %} ; Use Use Bed Mesh if not false
        {% if globals.load_mesh|lower == "true" %} ; if loading mesh
            M118 Loading Bed Mesh
            BED_MESH_PROFILE LOAD={globals.mesh_profile_name} ; load mesh profile
        {% elif globals.use_adaptive_mesh|lower == "true" %} ; if using adaptive mesh}
            M118 Doing adaptive bed mesh calibrate
            BED_MESH_CALIBRATE ADAPTIVE=1 ; generate new mesh
        {% else %} ; if not using adaptive mesh
            M118 Doing full size bed mesh calibrate
            BED_MESH_CALIBRATE ; generate new mesh
        {% endif %}
    {% endif %}



# {% set COOL_AFTER = params.COOL|default(False)|lower %}
# {% set COOL_AFTER = params.COOL|default(True)|lower %}
# {% if COOL_AFTER|lower == "true" %}
# {% if COOL_AFTER|lower == "false" %}