################################
######### START_PRINT ##########
################################
[gcode_macro PRINT_START]
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set START_BED_TEMP = params.START_BED_TEMP|default(60)|int %}
    {% set START_NOZZLE_TEMP = params.START_NOZZLE_TEMP|default(140)|int %}
    {% set MATERIAL = params.MATERIAL|default('ERROR')|string %}
    {% set MESH = globals.mesh_name %}
    {% set Z_OFFSET = params.ZOFFSET|default(0.000)|float %}
    {% set ADAPTIVE_MESH = params.ADAPTIVE_MESH|default(True)|int %}
    {% set CLEAN_NOZZLE = params.CLEAN|default(True)|int %}
    
    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=start_bed_temp VALUE={START_BED_TEMP} ; set bed temp
    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=start_nozzle_temp VALUE={START_NOZZLE_TEMP} ; set nozzle temp
    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=z_offset VALUE={Z_OFFSET} ; set z offset
    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=material VALUE='"{MATERIAL}"' ; set material to use
    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=adaptive_mesh VALUE={ADAPTIVE_MESH} ; set use of adaptive mesh
    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=use_nozzle_cleaning VALUE={CLEAN_NOZZLE} ; set use of the nozzle brush
    #SET_GCODE_VARIABLE MACRO=_globals VARIABLE=starting_print VALUE=1 ; mark print_start process as started

    CHECK_TEMP_VARIBALES
    
    TTS_PRINT_START_PREPRINT ; Preprint audio
    G28 ## Home Toolhead
    M118 LED_STATUS_HEATING    
    LED_STATUS_HEATING
    M118 LED_STATUS_HEATING DONE
    M18 Clear Pause    
    CLEAR_PAUSE ## Clear paused state
    M18 Clear Pause DONE!
    ## Define positioning system
    G90 ; use absolute coordinates
    M83 ; extruder relative mode
    # SET_DEFAULTS MODE=START; reset to default settings
    M118 Heat Bed
    HEAT_BED ## Preheat bed surface
    M118 Heat Bed DONE! Prep Chamber Starting!
    PREP_CHAMBER ## Preheat/soak chamber
    M118 Prep chamber done! Starting Prep Fans!
    PREP_FANS ## Prepapre fans
    Prep Fans Done! Prep Surface Started!
    PREP_SURFACE ## Prepare bed suface
    M118 Prep Surface Done!
    {% if globals.heat_soak_complete == 0 %} ################???????????????####################
       ## Pause without parking     
       {globals.pause_no_park}               ################???????????????####################
    {% else %}
       ## Wait for chamber preheat to finalize
       M118 FINALIZE_ENVIRO would be here if it existed
    {% endif %}
    M118 Prep Hotend Starting!
    PREP_HOTEND ## Preheat hotend
    M400 ## Catch up
    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=is_currently_printing VALUE=True ; complete print_start process
    M400 ## Final catch up
    M118 Purging!
    LINE_PURGE
    M118 Print Started ; status feedback
    

# {% set COOL_AFTER = params.COOL|default(False)|lower %}
# {% set COOL_AFTER = params.COOL|default(True)|lower %}
# {% if COOL_AFTER|lower == "true" %}
# {% if COOL_AFTER|lower == "false" %}


