# [gcode_macro PRINT_END]
# #   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
# gcode:
#     # safe anti-stringing move coords
#     {% set th = printer.toolhead %}
#     {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
#     {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
#     {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
#     SAVE_GCODE_STATE NAME=STATE_PRINT_END

#     M400                           ; wait for buffer to clear
#     G92 E0                         ; zero the extruder
#     G1 E-5.0 F1800                 ; retract filament
    
#     TURN_OFF_HEATERS

#     G90                                      ; absolute positioning
#     G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
#     G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
#     M107                                     ; turn off fan
    
#     BED_MESH_CLEAR

#     # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
#     # command pair is to restore the printer's coordinate system
#     # and speed settings since the commands above change them.
#     # However, to prevent any accidental, unintentional toolhead
#     # moves when restoring the state, explicitly set MOVE=0.
#     RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0


# {% set COOL_AFTER = params.COOL|default(False)|lower %}
# {% set COOL_AFTER = params.COOL|default(True)|lower %}
# {% if COOL_AFTER|lower == "true" %}
# {% if COOL_AFTER|lower == "false" %}

################################
########## END_PRINT ###########
################################
[gcode_macro PRINT_END]
description: Present the finished print
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables

        M118 Ending Print!
        M400
        LED_STATUS_PRINT_ENDING
        
        {% if globals.use_end_retract|lower == "true"  %} ; if using end retraction
            M118 Doing end retraction
            G1 E-{globals.end_retract_length} F{globals.end_retract_speed * 60} ; retract filament
        {% endif %}

        {% if globals.use_end_lift|lower == "true"  %} ; if using end retraction
            M118 Lifting Z at end of print
            END_LIFT_Z
        {% endif %}
        
        
        {% if globals.use_end_print_clean_nozzle|lower == "true"  %} ; if using end_print nozzle cleaning
            CLEAN_NOZZLE COOL=True
        {% endif %}
        
        # M118 INSERT PARK MACRO HERE!!!!!!

        M118 ---!!! PRINT COMPLETE !!!--- ; status feedback

        MUSIC_PRINT_END

        LED_STATUS_READY
        STOP_COMPONENTS ; stop components


################################
###### STOP_COMPONENTS #########
################################
[gcode_macro STOP_COMPONENTS]
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    
    {% if globals.use_filament_sensor|lower == "true" %} ; if using auto filament sensor
        FILAMENT_SENSOR_DISABLE ; disable filament sensor
    {% endif %}
    # {% if printcfg.controller_fan == True %} ; if using controller fan
    #     {printcfg.controller_fan_stop} ; stop controller fan
    # {% endif %}
    {% if globals.use_scrubber|lower == "true" %} ; if using scrubber to scrub VOCs
        M118 Scrubbing VOCs
        SCRUBBER ; turn on scrubber
    {% elif globals.use_exhaust_fan|lower == "true" %} ; if using exhaust fan
        M118 Exhausting chamber; status feedback
        EXHAUST_FAN_ON ; start exhaust fan
        UPDATE_DELAYED_GCODE ID=exhaust_fan_delay DURATION={globals.exhaust_fan_delay} ; start exhaust fan delay
    {% else %} ; if not using exhaust fan
        # SET_DEFAULTS MODE=END; reset to default settings
        # SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=end_print VALUE=0 ; reset end_print
        {% if globals.use_post_print_power_off|lower == "true" %} ; if using power off at end of print
            POWER_OFF_PRINTER ; power off printer
        {% endif %}
    {% endif %}
    G90 ; use absolute coordinates
    TURN_OFF_HEATERS ; turn off heaters
    M84 ; disable motors








[gcode_macro END_LIFT_Z]
description: Lift Z only if current Z < max_z - 25mm
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set LIFT_AMNT = params.LIFT|default(globals.end_z_lift_amount)|int %}
    {% set END_Z_EXTRA = globals.end_z_extra_space %}
    {% set MAX_Z = printer.toolhead.axis_maximum.z %}   
    {% set CURRENT_Z = printer.toolhead.position.z %}
    
    {% if CURRENT_Z < (MAX_Z - (LIFT_AMNT + END_Z_EXTRA)) %}
        RELATIVE
        G0 Z{LIFT_AMNT}
        ABSOLUTE
    {% else %}
        M118 Skipping end lift. Current Z ({CURRENT_Z}) too close to max ({MAX_Z})
    {% endif %}

[gcode_macro TEST_SETTINGS_RESET]
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set og_globals = printer.configfile.settings['gcode_macro _GLOBALS'|lower] %} ; get original global variables

    SET_GCODE_VARIABLE MACRO=_GLOBALS VARIABLE=start_bed_temp VALUE=69 ; set bed temp
    M118 Modified start_bed_temp value is {globals.start_bed_temp}
    M118 Original start_bed_temp value was {og_globals.variable_start_bed_temp}