# Use with
# M104 S0 ; Stops OrcaSlicer from sending temp waits separately
# M140 S0
# print_start EXTRUDER=[first_layer_temperature] BED=[first_layer_bed_temperature] CHAMBER=[chamber_temperature]

[gcode_macro PRINT_START]
gcode:
  {% set globals = printer['gcode_macro _GLOBALS'] %}
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set BED_TEMP = params.BED|int %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|int %}
  # {% set target_chamber = params.CHAMBER|default("45")|int %}
  # {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
  # {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set WAIT_POS_X = globals.print_start_wait_x %}
  {% set WAIT_POS_Y = globals.print_start_wait_y %}

  CLEAR_PAUSE
  STATUS_HOMING                         # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {BED_TEMP}c"           # Display info on display
    # STATUS_HEATING                                      # Set LEDs to heating-mode
    M106 S255                                           # Turn on the PT-fan

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                      # Turn on the nevermore

    G1 X{WAIT_POS_X} Y{WAIT_POS_Y} Z15 F9000                    # Go to center of the bed
    M190 S{BED_TEMP}                                  # Set the target temp for the bed
    # SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber_wait}c"  # Display info on display
    # TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber_wait}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {BED_TEMP}c"           # Display info on display
    # STATUS_HEATING                                      # Set LEDs to heating-mode
    G1 X{WAIT_POS_X} Y{WAIT_POS_Y} Z15 F9000                    # Go to center of the bed
    M118 Geting bed to ""{BED_TEMP}"
    M190 S{BED_TEMP}                                  # Set the target temp for the bed
    M118 SOAKING WOULD BE HERE BUT DISABLED FOR TESTS
    # SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    # G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S150                                             # Heat hotend to 150c

  ##  Uncomment for V2.4 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  # STATUS_LEVELING                                      # Set LEDs to leveling-mode
  QUAD_GANTRY_LEVEL                                    # Level the printer via QGL
  G28 Z                                                # Home Z again after QGL

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  # STATUS_MESHING                                       # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE                                   # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {EXTRUDER_TEMP}c"     # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode
  G1 X{WAIT_POS_X} Y{WAIT_POS_Y} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  M109 S{EXTRUDER_TEMP}                               # Heat the hotend to set temp

  # Get ready to print by doing a primeline and updating the LEDs
  SET_DISPLAY_TEXT MSG="Printer goes brr"               # Display info on display
  STATUS_PRINTING                                       # Set LEDs to printing-mode
  G0 X{WAIT_POS_X - 50} Y4 F10000                           # Go to starting point
  G0 Z0.4                                               # Raise Z to 0.4
  G91                                                   # Incremental positioning 
  G1 X100 E20 F1000                                     # Primeline
  G90                                                   # Absolute position

  M118 PRINT START DONE!