[gcode_macro END_PRINT]
description: 
gcode:
	{% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set Z_LIFT_DIST = globals.end_z_lift_amount %}
    {% set END_POS_X = globals.end_pos_x %}
    {% set END_POS_Y = globals.end_pos_y %}

    M118 Print ended!
    # STATUS_BUSY
    M73 P100 R0
    M140 S0
    M141 S0
    # SET_FAN_SPEED FAN=exhaust SPEED=1.0 # for exhaust fan
    # TIMELAPSE_TAKE_FRAME
    # {% set z_max = printer['gcode_macro _global_var'].z_maximum_lifting_distance|int %}
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        RELATIVE
        G92 E0
        G1 E-1 F2700
        G92 E0
        M106 S0
        M107
        PARK_TOOL
        # CLEAR_ACTIVE_SPOOL
		RELATIVE
		G1 Z+{Z_LIFT_DIST}
		ABSOLUTE
      	G1 X{END_POS_X} Y{END_POS_Y} F9000
		RELATIVE
        # {% if (printer.gcode_move.position.z + 280) < z_max %}
        #     G1 Z+280 F3000 # uncomment for big lift
        # {% else %}
            # G1 Z+{(z_max - printer.gcode_move.position.z)} F3000
        # {% endif %}
        ABSOLUTE
    {% endif %}
    # M104 S0
    # M106 S0
    # SET_FAN_SPEED FAN=exhaust SPEED=0.8
    # SET_FAN_SPEED FAN=chamber_fan SPEED=0.8
    # TIMELAPSE_TAKE_FRAME
    # M400
      # {% for i in range(120) %}
      #      {% set remaining = 120 - i %}
      #       M117 Remaining main cool down time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
      #       G4 P1000
      # {% endfor %}
      M400
    # SET_FAN_SPEED FAN=exhaust SPEED=0.4
    # SET_FAN_SPEED FAN=chamber_fan SPEED=0.4
      # {% for i in range(300) %}
      #      {% set remaining = 300 - i %}
      #       M117 Remaining cool down time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
      #       G4 P1000
      # {% endfor %}
    _ALL_FAN_OFF
    TURN_OFF_HEATERS
    # LOWCURRENT
    # TIMELAPSE_TAKE_FRAME
    # RESET_GLOBAL_Z
    #  ADJUST_GLOBAL_Z ADJUST=0.1
    M84
    SET_SKEW CLEAR=1
    PREPARE
    M118 Print finished!
    # STATUS_READY
    M118 PRINT MACRO DONE!

[gcode_macro _ALL_FAN_OFF]
gcode:
    M106 S0
    M107
    # SET_FAN_SPEED FAN=exhaust SPEED=0.0
    M141 S0

[gcode_macro PREPARE]
gcode:
    # SET_VELOCITY_LIMIT ACCEL=10000 VELOCITY=500 SQUARE_CORNER_VELOCITY=6 MINIMUM_CRUISE_RATIO=0.4
    BED_MESH_CLEAR
    CLEAR_PAUSE
    M400
    M220 S100
    M221 S100
    M400


