################################
######## SET_DEFAULTS ##########
################################
[gcode_macro SET_DEFAULTS]
description: Reset some defaults
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set mode = params.MODE|default('none')|lower %} ; get mode
    {% if mode == 'none' %} ; if no mode is specified, reset all
        SET_GCODE_OFFSET Z={globals.z_offset} ; reset Z offset
        M220 S{globals.default_speed_factor} ; reset speed factor
    {% elif mode == 'start' %} ; if start mode is specified, reset only start values
        {% if globals.start_z_offset == True %} ; if start Z offset is enabled, reset it
            SET_GCODE_OFFSET Z={globals.z_offset} ; reset Z offset
        {% endif %}
        {% if globals.start_speed_factor == True %} ; if start speed factor is enabled, reset it
            M220 S{globals.default_speed_factor} ; reset speed factor
        {% endif %}
    {% elif mode == 'end' %} ; if end mode is specified, reset only end values
        {% if globals.end_z_offset == True %} ; if end Z offset is enabled, reset it
            SET_GCODE_OFFSET Z={globals.z_offset} ; reset Z offset
        {% endif %}
        {% if globals.end_speed_factor == True %} ; if end speed factor is enabled, reset it
            M220 S{globals.default_speed_factor} ; reset speed factor
        {% endif %}
        SET_NOZZLE   ; set nozzle-specific settings
        SET_MATERIAL ; set material-specific settings
    {% endif %}