[delayed_gcode STARTUP]
initial_duration: 1
gcode:
    _GLOBALS STARTUP=1
    #_SENSOR_VARIABLES
    SYSTEM_STARTUP_SOUND
    #SET_ACTIVE_SPOOL ID=None
    #PRESET_CAM_BLACKLIGHT_SETUP
    CAM_PRESET
    # LED_FRAME_SPOTLIGHT
    MUSIC_PRINTER_BOOT
    M118 ---!STARTUP COMPLETE!---