[gcode_shell_command APLAY_SHELL]
# Use command aplay -L in the command line to find your device
command: sh /home/dinec/printer_data/scripts/aplay.sh
timeout: 30.
verbose: False

[gcode_shell_command APLAY_SHELL_BG]
# Use command aplay -L in the command line to find your device
command: sh /home/dinec/printer_data/scripts/aplay_bg.sh
timeout: 30.
verbose: False

[gcode_macro APLAY]
gcode:
    {% set FILE = params.FILE|default('/orbiter/MC_Eating.wav') %}
    
    RUN_SHELL_COMMAND CMD=APLAY_SHELL PARAMS='"/home/dinec/printer_data/audio{FILE}"'

[gcode_macro APLAY_BG]
gcode:
    {% set FILE = params.FILE|default('/orbiter/MC_Eating.wav') %}
    
    RUN_SHELL_COMMAND CMD=APLAY_SHELL_BG PARAMS='"/home/dinec/printer_data/audio{FILE}"'