###################################################################################
################################## Base Commands ##################################
###################################################################################
[gcode_macro _TTS_SETTINGS]
#description: You can edit the TTS settings here
variable_tts_voice_name: 'en-french-4' # use 'espeak-ng --voices=en' to find available english voices
variable_tts_voice_speed: 110

gcode:
    M118 Your TTS Voice Name is {printer["gcode_macro TTS_SETTINGS"].tts_voice_name} And will be played at {printer["gcode_macro TTS_SETTINGS"].tts_voice_speed}% speed.