[gcode_shell_command TTS_SHELL]
# Use command aplay -L in the command line to find your device
#description: TTS out with settings in TTS_SETTINGS macro
command: sh /home/dinec/printer_data/scripts/espeak_ng.sh
timeout: 30.
verbose: False

[gcode_shell_command TTS_SHELL_BG]
# Use command aplay -L in the command line to find your device
#description: TTS out with settings in TTS_SETTINGS macro
command: sh /home/dinec/printer_data/scripts/espeak_ng_bg.sh
timeout: 30.
verbose: False

[gcode_macro TTS]
gcode:
    {% set settings = printer['gcode_macro _TTS_SETTINGS'] %} ; get global variables
    {% set TTS_MSG    = params.MSG|default('BOOP') %}
    {% set TTS_VOICE_NAME  = settings.tts_voice_name %}
    {% set TTS_SPEED  = settings.tts_voice_speed %}
    
    RUN_SHELL_COMMAND CMD=TTS_SHELL PARAMS='"{TTS_MSG}" {TTS_VOICE_NAME} {TTS_SPEED}'

[gcode_macro TTS_BG]
gcode:
    {% set settings = printer['gcode_macro _TTS_SETTINGS'] %} ; get global variables
    {% set TTS_MSG    = params.MSG|default('BOOP') %}
    {% set TTS_VOICE_NAME  = settings.tts_voice_name %}
    {% set TTS_SPEED  = settings.tts_voice_speed %}
    
    RUN_SHELL_COMMAND CMD=TTS_SHELL_BG PARAMS='"{TTS_MSG}" {TTS_VOICE_NAME} {TTS_SPEED}'