[gcode_macro MUSIC_PRINTER_BOOT]
gcode:
  {% set base = '/printer_boot/' %}

  {% set track_list = {
      1: ['Win95.wav'],
      2: ['Win98.wav'],
      3: ['Win2k.wav'],
      4: ['WinXP.wav'],
      5: ['Win7.wav']
  } %}

  # Pick a game (1-10) and then a track from that game's list
  {% set num_choices = 5 %}
  {% set game = (range(1, (num_choices + 1)) | random) %}
  {% set track = (track_list[game] | random) %}

  APLAY_BG FILE={base+track}
  MUSIC_PRINTER_BOOT_LABEL TRACK={track}

[gcode_macro MUSIC_PRINTER_BOOT_LABEL]
gcode:
  {% set TRACK = params.TRACK %}
  # Define the dictionary mapping file names to M118 messages
  {% set label_map = {
      'Win95.wav': 'Playing Windows 95 Startup Sound',
      'Win98.wav': 'Playing Windows 98 Startup Sound',
      'Win2k.wav': 'Playing Windows 2000 Startup Sound',
      'WinXP.wav': 'Playing Windows XP Startup Sound',
      'Win7.wav': 'Playing Windows 7 Startup Sound'
  } %}
  
  {% set message = label_map.get(TRACK, "MUSIC_PRINT_END Unknown File") %}
  M118 {message}