[gcode_macro MUSIC_PRINT_END]
gcode:
  {% set base = '/print_end/' %}

  {% set track_list = {
      1: ['FF1Fanfare.wav'],
      2: ['FF2Fanfare.wav'],
      3: ['FF4Fanfare.wav'],
      4: ['FF5Fanfare.wav'],
      5: ['FF6Fanfare.wav'],
      6: ['FF7Fanfare.wav'],
      7: ['FF8Fanfare.wav'],
      8: ['FF9Fanfare.wav'],
      9: ['FF10Fanfare.wav'],
      10:['FF14Fanfare.wav']
  } %}

  # Pick a game (1-10) and then a track from that game's list
  {% set num_choices = 10 %}
  {% set game = (range(1, (num_choices + 1)) | random) %}
  {% set track = (track_list[game] | random) %}

  APLAY_BG FILE={base+track}
  MUSIC_PRINT_END_LABEL TRACK={track}

[gcode_macro MUSIC_PRINT_END_LABEL]
gcode:
  {% set TRACK = params.TRACK %}
  # Define the dictionary mapping file names to M118 messages
  {% set label_map = {
      'FF1Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 1',
      'FF2Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 2',
      'FF4Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 4',
      'FF5Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 5',
      'FF6Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 6',
      'FF7Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 7',
      'FF8Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 8',
      'FF9Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 9',
      'FF10Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 10',
      'FF14Fanfare.wav': 'Playing Battle Fanfare from Final Fantasy 14'
  } %}
  
  {% set message = label_map.get(TRACK, "MUSIC_PRINT_END Unknown File") %}
  M118 {message}