[gcode_macro MUSIC_PRINT_START]
gcode:
  {% set base = '/print_start/' %}

  {% set track_list = {
      1: ['FF1Battle.wav'],
      2: ['FF2Battle.wav'],
      3: ['FF3Battle.wav','FF3BattleBM.wav'],
      4: ['FF4Battle2.wav','FF4Battle2BM.wav','FF4Boss.wav','FF4Boss14.wav'],
      5: ['FF5BBB.wav','FF5BBBR.wav','FF5CBB.wav','FF5NeoExdeath.wav','FF5NeoExdeathBM.wav','FF5NeoExdeathR.wav'],
      6: ['FF6Battle.wav','FF6Boss.wav','FF6BossBM.wav'],
      7: ['FF7Battle.wav','FF7BattleR.wav','FF7Boss.wav','FF7BossBM.wav','FF7BossR.wav'],
      8: ['FF8Boss.wav','FF8BossBM.wav','FF8Extreme.wav','FF8ExtremeBM.wav','FF8MMG.wav','FF8MMGBM.wav'],
      9: ['FF9Battle.wav','FF9Boss.wav'],
      10:['FF10Battle.wav','FF10Boss.wav']
  } %}

  {% set num_choices = 10 %}
  {% set game = (range(1, (num_choices + 1)) | random) %}
  {% set track = (track_list[game] | random) %}

  APLAY_BG FILE={base+track}
  MUSIC_PRINT_START_LABEL TRACK={track}
  
[gcode_macro MUSIC_PRINT_START_LABEL]
gcode:
  {% set TRACK = params.TRACK %}
  # Define the dictionary mapping file names to M118 messages
  {% set label_map = {
    'FF1Battle.wav': 'Playing Battle Music from Final Fantasy 1',
    'FF2Battle.wav': 'Playing Battle Music from Final Fantasy 2',
    'FF3Battle.wav': 'Playing Battle Music from Final Fantasy 3',
    'FF3BattleBM.wav': 'Playing Battle Music from Final Fantasy 3 by the Black Mages',
    'FF4Battle2.wav': 'Playing Battle Music from Final Fantasy 4',
    'FF4Battle2BM.wav': 'Playing Boss Battle Music from Final Fantasy 4 by the Black Mages',
    'FF4Boss.wav': 'Playing Boss Battle Music from Final Fantasy 4',
    'FF4Boss14.wav': 'Playing Boss Battle Music from Final Fantasy 4 in FF14',
    'FF5BBB.wav': 'Playing Battle on the Big Bridge from Final Fantasy 5',
    'FF5BBBR.wav': 'Playing Battle on the Big Bridge from Final Fantasy 5 Pixel Remake',
    'FF5CBB.wav': 'Playing Clash on the Big Bridge from Final Fantasy 5 by the Black Mages',
    'FF5NeoExdeath.wav': 'Playing NeoExdeath from Final Fantasy 5',
    'FF5NeoExdeathBM.wav': 'Playing NeoExdeath from Final Fantasy 5 by the Black Mages',
    'FF5NeoExdeathR.wav': 'Playing NeoExdeath from Final Fantasy 5 Pixel Remake',
    'FF6Battle.wav': 'Playing Battle Music from Final Fantasy 6',
    'FF6Boss.wav': 'Playing Boss Battle Music from Final Fantasy 6',
    'FF6BossBM.wav': 'Playing Boss Battle Music from Final Fantasy 6 by the Black Mages',
    'FF7Battle.wav': 'Playing Battle Music from Final Fantasy 7',
    'FF7BattleR.wav': 'Playing Battle Music from Final Fantasy 7 Remake',
    'FF7Boss.wav': 'Playing Boss Battle Music from Final Fantasy 7',
    'FF7BossBM.wav': 'Playing Boss Battle Music from Final Fantasy 7 by the Black Mages',
    'FF7BossR.wav': 'Playing Boss Battle Music from Final Fantasy 7 Remake',
    'FF8Boss.wav': 'Playing Boss Battle Music from Final Fantasy 8',
    'FF8BossBM.wav': 'Playing Boss Battle Music from Final Fantasy 8 by the Black Mages',
    'FF8Extreme.wav': 'Playing The Extreme from Final Fantasy 8',
    'FF8ExtremeBM.wav': 'Playing The Extreme from Final Fantasy 8 by the Black Mages',
    'FF8MMG.wav': 'Playing Man With The Machine Gun from Final Fantasy 8',
    'FF8MMGBM.wav': 'Playing Man With The Machine Gun from Final Fantasy 8 by the Black Mages',
    'FF9Battle.wav': 'Playing Battle Music from Final Fantasy 9',
    'FF9Boss.wav': 'Playing Boss Battle Music from Final Fantasy 9',
    'FF10Battle.wav': 'Playing Battle Music from Final Fantasy 10',
    'FF10Boss.wav': 'Playing Battle Music from Final Fantasy 10'
  } %}
  
  {% set message = label_map.get(TRACK, "MUSIC_PRINT_START Unknown File") %}
  M118 {message}