[gcode_shell_command CAM_SETTINGS_SHELL]
command: sh /home/dinec/printer_data/scripts/camera_settings.sh
timeout: 5.
verbose: False

[gcode_macro CAM_SETTINGS]
gcode:
    {% set globals = printer['gcode_macro _GLOBALS'] %} ; get global variables
    {% set CAM_NAME = globals.camera_front_name|default(globals.camera_front_name) %}
    {% set CAM_SETTING = params.SETTING %}
    {% set CAM_SETTING_AMOUNT = params.AMOUNT %}

    # {% set current_setting = 'setting goes here' %} ; the setting used in this macro
    # {% set current_setting = 'setting goes here' %} ; the setting used in this macro
    
    RUN_SHELL_COMMAND CMD=CAM_SETTINGS_SHELL PARAMS='"{CAM_NAME}" "{CAM_SETTING}" {CAM_SETTING_AMOUNT}'



#   C920 SETTINGS:
# brightness (int)    : min=0 max=255 step=1 default=128 value=128
# contrast (int)    : min=0 max=255 step=1 default=128 value=128
# saturation (int)    : min=0 max=255 step=1 default=128 value=128
# white_balance_automatic (bool)   : default=1 value=1
# gain (int)    : min=0 max=255 step=1 default=0 value=182
# power_line_frequency (menu)   : min=0 max=2 default=2 value=2 (60 Hz)
# white_balance_temperature (int)    : min=2000 max=6500 step=1 default=4000 value=6500 flags=inactive
# sharpness (int)    : min=0 max=255 step=1 default=128 value=128
# backlight_compensation (int)    : min=0 max=1 step=1 default=0 value=0
#   CAMERA CONTROLS:
# auto_exposure (menu)   : min=0 max=3 default=3 value=3 (Aperture Priority Mode)
# exposure_time_absolute (int)    : min=3 max=2047 step=1 default=250 value=333 flags=inactive
# exposure_dynamic_framerate (bool)   : default=0 value=1
# pan_absolute (int)    : min=-36000 max=36000 step=3600 default=0 value=0
# tilt_absolute (int)    : min=-36000 max=36000 step=3600 default=0 value=0
# focus_absolute (int)    : min=0 max=250 step=5 default=0 value=0 flags=inactive
# focus_automatic_continuous (bool)   : default=1 value=1
# zoom_absolute (int)    : min=100 max=500 step=1 default=100 value=100

#   ANGRYCAM SETTINGS:
# brightness (int)    : min=-255 max=255 step=1 default=0 value=0
# contrast (int)    : min=0 max=30 step=1 default=15 value=15
# saturation (int)    : min=0 max=127 step=1 default=40 value=40
# hue (int)    : min=-180 max=180 step=1 default=0 value=0
# white_balance_automatic (bool)   : default=1 value=1
# gamma (int)    : min=20 max=250 step=10 default=100 value=100
# power_line_frequency (menu)   : min=0 max=2 default=1 value=1 (50 Hz)
# white_balance_temperature (int)    : min=2800 max=6500 step=1 default=5000 value=5000 flags=inactive
# sharpness (int)    : min=0 max=127 step=1 default=30 value=30
#   CAMERA CONTROLS:
# auto_exposure (menu)   : min=0 max=3 default=0 value=0
# exposure_time_absolute (int)    : min=39 max=5000 step=1 default=333 value=333 flags=inactive
# exposure_dynamic_framerate (bool)   : default=0 value=0
# focus_absolute (int)    : min=0 max=831 step=1 default=0 value=0 flags=inactive